@font-face {
    font-family: 'TT Firs Light';
    src: local('TT Firs Light'), local('TT-Firs-Light'),
        url('TTFirs-Light.woff2') format('woff2'),
        url('TTFirs-Light.woff') format('woff'),
        url('TTFirs-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }